*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    color: #35353f;
    background-color: #dfecf2 ;
}
.hero{
    display: flex;
    margin-top: 30px;
}

.hero .text{
    width: 40%;
    text-justify: inter-word;
    display: block;
    overflow-wrap: break-word; 
    margin-left: 200px;
    margin-top: 100px;
}
.hero .image{
    width: 60px;
}
.navbaritems{
    width: 100%;
    display: flex;
    align-items:center;
    padding: 20px 200px;
}
.navmenu{
    display: flex;
    align-items:center;
    margin-left: 400px;
 }
.li{
    list-style-type: none;
    margin: 0 50px;
}
a{
    text-decoration: none;
    font-size: 1rem ;
}

svg{
    width: 30px;
    height: 30px;
}
nav{
    border: 1px solid rgba(0, 0, 0, 0.051);
    height: 50px;
}

a{
    text-decoration: none;
    color: black;
}
.image img{
   margin-left: 30px;
   margin-top: 70px;
}

h1{
    font-size: 3.9rem;
}


.text button{
    width: 170px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color: #35353f;
    color: white;
    margin-top: 50px;
}
i{
    margin-left: 200px;
}
.navbaritems h3{
    margin-left: 10px;
}

.grid-container{
  display: grid;
  grid-template-columns:200px 1fr;
  grid-template-areas: "sidenav main";
  height: 100vh; 
}
main{
   grid-area: main;
   display: grid;
   grid-template-columns:  188px  188px 188px  188px 295px;
   grid-template-rows: 70px 150px 60px 90px 90px;
   grid-gap:25px;
   padding-left: 70px;
   padding-top: 20px;
   padding-right: 40px;
   position:relative;

}
.card1{
    background-color: #d0e1e9;
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
    border-radius: 15px;
}
.navbar{
    grid-area: sidenav;
    display: flex;
	flex-direction: column;
	padding-top: 2.5vw;
	justify-items: center;
	align-items: center;
    margin-left: 40px;
}
.logo{
    display: flex;
    
}
.logo h3{
    margin-left: 10px;
    margin-bottom: 15px;
}

.navelements{
    height: 500px;
    margin-top: 50px;
}
.navelements a{
    margin: 20px;
}

.card3{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #d0e1e9;
    border-radius: 15px;
}

.card4{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #d0e1e9;
    border-radius: 15px;

}

.card5{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #d0e1e9;
    border-radius: 15px;

}
/*ta3 to do list*/
.card6{
    grid-column-start: 5;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 5;
    background-color: #d0e1e9;
    border-radius: 15px;

}

.card7{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #d0e1e9;
    border-radius: 15px;

}

.card2{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #d0e1e9;
    border-radius: 15px;
    position: relative;
    padding: 18px 15px;
    text-justify: inter-word;
    display: block;
    overflow-wrap: break-word; 
}

.card2 p{
   background-color: #d0e1e9;
}


.icon{
    width: 20px;
    height: 20px;

}
.arrange{
    display: flex;
    
}
.arrange p{
    padding-left: 7px;
}
.bas{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 130px;
    height: 50px;
    border-radius: 25px;
    border: none;
    background-color:#d0e1e9;
    color: black;
}

.logotext{
    color: black;
}